#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

.center {
    width: 200px;
    height: 200px;
    float: center;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0; margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 200px;
    width: 100px;
    height: 40px;
}

body {
    background-color: firebrick;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 207, 87);
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(147, 203, 212);
}

div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lavender;
}